.card[b-aprf68283f] {
    flex: none !important;
    /*display: flex !important;*/
    justify-content: space-around !important;
    margin-right: 90px !important;
    margin-left: 55px !important;
    border: 0px solid !important;
    margin-top: 60px;
}

.card-img-top[b-aprf68283f] {
    border-radius: 100% !important;
}

.card-body[b-aprf68283f] {
    border: 1px solid rgba(0, 0, 0, .08) !important;
    margin-top: 13px !important;
}

.title[b-aprf68283f] {
    font-size:30px !important;
}