@page "/counter"
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>

<h1>Товары<h3><button class="button_cart" @onclick="cart">Корзина</button></h3></h1>  

<h2><p role="status">Товаров в корзине: @allcurrentCount</p></h2>



<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/images/images.png">
    <div class="card-body">
      <h5 class="card-title">Познавайка</h5>
      <h6>Цена: 100 000 руб.</h6>
      <div>
        <button class="but_card" @onclick="IncrementCount1">Добавить в корзину</button>
        <button class="but_card" @onclick="Delete1">Удалить</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/images.png">
    <div class="card-body">
      <h5 class="card-title">Виртуальная реальность</h5>
      <h6>Цена: 100 000 руб.</h6>
       <div>
        <button class="but_card" @onclick="IncrementCount2">Добавить в корзину</button>
        <button class="but_card" @onclick="Delete2">Удалить</button>
      </div>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="/images/images.png">
    <div class="card-body">
      <h5 class="card-title">Systema</h5>
      <h6>Цена: 100 000 руб.</h6>
        <div>
         <button class="but_card" @onclick="IncrementCount3">Добавить в корзину</button>
         <button class="but_card" @onclick="Delete3">Удалить</button>
      </div>
    </div>
  </div>
</div>

@code {
    void cart()
    {
        NavigationManager.NavigateTo("fetchdata");
    }
    private int currentCount1 = 0;
    private int currentCount2 = 0;
    private int currentCount3 = 0;
    private int allcurrentCount = 0;

    private void IncrementCount1()
    {
        if (currentCount1 < 1){
            currentCount1++;
            allcurrentCount ++;

        }
    }
    private void IncrementCount2()
    {
        if (currentCount2 < 1){
            currentCount2++;
            allcurrentCount ++;
        }
    }
    private void IncrementCount3()
    {
        if (currentCount3 < 1){
             currentCount3++;
            allcurrentCount ++;
        }
    }

    private void Delete1(){
        if(currentCount1 == 1){
          currentCount1 = 0;
          allcurrentCount --;
        }
    }

    private void Delete2(){
        if(currentCount2 == 1){
          currentCount2 = 0;
          allcurrentCount --;
        }
    }

    private void Delete3(){
        if(currentCount3 == 1){
          currentCount3 = 0;
          allcurrentCount --;
        }
    }
}
