@page "/workers"
@inject NavigationManager NavigationManager


<h1>Сотрудники</h1>

<div class="card-group">
  <div class="card">
    <img  width="60" height="220" class="card-img-top" src="/images/SergeyD.png">
    <div class="card-body">
      <h3 class="card-title">Давыдов Сергей</h3>
      <h5 class="card-title">Руководитель отдела</h5>
       <select>
        <option selected>Моё настроение</option>
        <option>&#129392</option>
        <option>&#129297</option>
        <option>&#129313</option>
        <option>&#128055</option>
    </select>
      <h6><i>"В Панорамике такого не будет"</i></h6>
    </div>
  </div>
  <div class="card">
    <img width="60" height="220" class="card-img-top" src="/images/mopin.png">
    <div class="card-body">
      <h3 class="card-title">Мопин Михаил</h3>
      <h5 class="card-title">Заместитель руководителя</h5>
       <select>
        <option selected width="auto">Моё настроение</option>
        <option>&#129392</option>
        <option>&#129297</option>
        <option>&#129313</option>
        <option>&#128055</option>
    </select>
      <h6><i>"Я душка!"</i></h6>
    </div>
  </div>
  <div class="card">
    <img width="60" height="220" class="card-img-top" src="/images/DenisBut.png">
    <div class="card-body">
      <h3 class="card-title">Бутенко Денчик</h3>
      <h5 class="card-title">Разработчик</h5>
       <select>
        <option selected>Моё настроение</option>
        <option>&#129392</option>
        <option>&#129297</option>
        <option>&#129313</option>
        <option>&#128055</option>
    </select>
      <h6><i>"Деньги не проблема."</i></h6>
    </div>
  </div>
</div>


@code {
   
}
